html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	display:flex;
	overflow:hidden;
}
body {
	background:#000;
	color:#fff;
	font-family:Century Gothic,sans-serif;
	letter-spacing: 1px;
	font-size:24px;

	width:100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.row {
	display:flex;
	flex-direction:row;
}
.column {
	display:flex;
	flex-direction:column;
}
.img-middle {
	vertical-align: middle;
}

#weather {
	position: absolute;
	top: 0;
	right: 0;
}
#weather .spacing {
	margin:8px;
}
#weather .spacing:first-child {
	margin-top:0;
}
#weather .temperature {
	font-size:300%;
}
#weather .icon {
	padding-top:10px;
}
#weather .city {
	font-size:150%;
}
#weather .text {
	align-self: flex-end;
}
#weather table.forecast {
	align-self: flex-end;
	margin-right:0;
}
#weather table.forecast td {
	padding: 0 8px;
	text-align:right;
}
#weather table.forecast tr td:last-child {
	padding-right:0;
}

#timing {
	position:absolute;
	top:0;
	left:0;
}
#timing .time {
	font-size:333%;
	font-weight:500;
}
#timing .day {
	font-size:150%;
	font-weight:lighter;
}
#timing .date {
	font-size:150%;
	font-weight:lighter;
}
#timing .events {
	margin-top:20px;
	padding-top:20px;
	border-top:2px solid #888;
}
#timing .event span {
	color:#888;
}
#timing .toggl {
	margin-top:20px;
	padding-top:20px;
	border-top:2px solid #888;
	font-size:85%;
}

#news {
	position:absolute;
	bottom:0;
	left:0;
	width:90%;
	justify-content:center;
	align-items:center;
}
#news .source {
	font-size:85%;
	text-align:center;
}
#news .entry {
	text-align:center;
}

#curtain {
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	display:none;
	background-color:black;
	z-index:999;
}

.main {
	align-self: center;
	background-color: rgba(0, 0, 0, 0.9);
	margin: 45px;
	display:none;
}

@media (max-width: 900px) {
	body {
		font-size: 20px;
	}
}
@media (max-width: 650px) {
	body {
		font-size: 16px;
	}
}
